# Зависимости
node_modules/
*/node_modules/

# Переменные окружения
.env
*/.env

# Файлы сборки
*/dist/
*/build/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Другие файлы
.DS_Store
.idea/
.vscode/